* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 20px;
}

.counterValue {
  padding: 20px;
  font-size: 40px;
}

.buttons {
  margin-top: 20px;
}

.button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ff8fb1;
  border: 1px solid #800040;
  margin: 0 1rem;
  font-size: 15px;
}

.button:hover {
  background-color: #ff87b2;
  border-color: #9c1458;
}
